<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>파일조회 결과페이지</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <h1>파일 조회 결과페이지</h1>
    <form method="POST" action="/compress">
    <table border="1">
        <thead>
            <tr>
                <th>파일이름</th>
                <th>파일크기</th>
                <th>수정날짜</th>
                <th>파일선택</th>
            </tr>
        </thead>
        <tbody>
            {% for file in files %}
            <tr>
                <td>{{file[0]}}</td>
                <td>{{file[1]}}</td>
                <td>{{file[2]}}</td>
                <td><input type="checkbox" name="files" value="{{file[0]}}"></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="submit">파일압축하기</button>
</form>
</body>
</html>